<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <title>RestaurantKu</title>
</head>
<body>

  <header>
    <a href="#content" class="skip-link" tabindex="1">Skip to Content</a>
    <restaurantku-nav></restaurantku-nav>
  </header>

  <restauranku-jumbotron></restauranku-jumbotron>

  <main id="content">
    <article class="intro">
      <h2 tabindex="0"> 9 Restaurant terbaik disembilan kota besar </h2>
      <p tabindex="0"> 
        &nbsp; Kamu sedang mencari restoran yang ramai dikunjungi karena suasana nyaman, spot foto bagus, dan makanannya enak. Ada 9 kota besar yang menurut RestaurantKu menjadi rekomendasi tempat makan yang wajib kamu coba. 
         Memang ada banyak restoran yang ramai terdekat setiap kamu menggunakan google maps, lalu mencari sebuah restoran terdekat dengan menggunakan smartphone yang kamu miliki.Hasilnya nanti akan ada beberapa restoran yang bisa kamu pilih lalu ada puluhan ribu orang yang review restoran tersebut, sehingga kamu tinggal memilih tempat makan berdasarkan review orang-orang yang ada di google maps.
        <br><br>Tanpa panjang lebar, berikut ini rekomendasi restaurant yang ramai dikunjungi berdasarkan rekomendasi RestaurantKu.
      </p>
    </article>
    
    <section class="content">
            <h1 class="judul">Explore Restaurant</h1>
            <div class="card-list" id="list"></div>
    </section>

    <div class="testimonials">
      <div>
        <h1>Testimonials</h1>

        <div class="row">
          <div class="col">
            <div class="testi" tabindex="0">
              <div class="name">
                <p>Adian Ali Pratama<p>
              </div>
              
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur ullam est illo officia accusantium nemo nisi maxime exercitationem asperiores nam perspiciatis ea iste id, reiciendis itaque consectetur molestias ab.
              </p>
            </div>
          </div>
          
          <div class="col">
            <div class="testi" tabindex="0">
              <div class="name">
                <p>Dastin</p> 
                </div>
              
                <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit necessitatibus officia facilis dolor quas eos ratione alias similique id, nihil nisi, animi nam vero exercitationem iusto laudantium! Itaque, dicta?
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testi" tabindex="0">
              <div class="name">
                <p>Syahdan Maulana</p>
              </div>
              
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur ullam est illo officia accusantium nemo nisi maxime exercitationem asperiores nam perspiciatis ea iste id, reiciendis itaque consectetur molestias ab.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


<restaurantku-footer></restaurantku-footer>
</body>
</html>