.testimonials{
    padding: 40px 0;
    margin-top: 200px;
    text-align: justify;
  }
  .testimonials h1{
    text-align: center;
    margin-bottom: 90px;
  }
  
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
  }
  .col{
    row-gap: 30px;
    box-sizing: border-box;
    padding: 15px;
  }
  .testi{
    padding: 30px; 
    box-shadow: 0px 0px 10px rgba(80, 117, 131);
  }
  .name{
    font-size: 25px;
    margin: 10px 0;
  }
  .stars{
    color: #ca9a0bfa;
    margin-bottom: 20px;
  }